# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package with external dependencies

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install package and dev dependencies
      run: |
        python -m pip install --upgrade pip
        python setup.py install
        pip install -r requirements-dev.txt
    - name: Test TensorBoard output
      run: |
        pip install tensorflow
        pytest tests/external_test_tensorboard.py
    - name: Test Keras input
      run: |
        pip install keras
        pytest tests/external_test_keras.py
    - name: Test PyTorch Ignite input
      run: |
        pip install pytorch-ignite
        pytest tests/external_test_pytorch_ignite.py
    - name: Test Jupyter Notebook matplotlib output
      run: |
        pytest tests/external_test_examples.py
    - name: Test Neptune.ai logger and API
      run: |
        pip install neptune-client
        pytest tests/external_api_test_neptune.py
